<a href="https://colab.research.google.com/github/Akshay2224/Machine_Learning_Models/blob/master/Upgrad_Machine_Learning_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
df=pd.read_csv('trainingsample.csv')
df_test=pd.read_csv('testsample.csv')

In [0]:
df.head()

      ID  age            job   marital  ... pdays previous  poutcome target
0  25493   35    blue-collar    single  ...    -1        0   unknown      0
1  31334   58  self-employed   married  ...    -1        0   unknown      1
2  24671   52     technician  divorced  ...    -1        0   unknown      0
3  17545   44     management    single  ...    -1        0   unknown      0
4  17024   33    blue-collar    single  ...    -1        0   unknown      0

[5 rows x 18 columns]

In [0]:
print(df.shape)
df_test.shape

(29387, 18)

(15824, 17)

In [0]:
df.columns

Index(['ID', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'target'],
      dtype='object')

In [0]:
test.columns

Index(['ID', 'age', 'balance', 'day', 'duration', 'campaign', 'pdays',
       'previous', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'marital_divorced', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'default_no', 'default_yes', 'housing_no',
       'housing_yes', 'loan_no', 'loan_yes', 'contact_cellular',
       'contact_telephone', 'contact_unknown', 'month_apr', 'month_aug',
       'month_dec', 'month_feb', 'month_jan', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'poutcome_failure', 'poutcome_other', 'poutcome_success',
       'poutcome_unknown'],
      dtype='object')

In [0]:
df.dtypes

ID            int64
age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
target        int64
dtype: object

In [0]:
df = pd.get_dummies(df)
df.head()

      ID  age  balance  ...  poutcome_other  poutcome_success  poutcome_unknown
0  25493   35     4845  ...               0                 0                 1
1  31334   58     5810  ...               0                 0                 1
2  24671   52        0  ...               0                 0                 1
3  17545   44        4  ...               0                 0                 1
4  17024   33        0  ...               0                 0                 1

[5 rows x 53 columns]

In [0]:
df.isnull().sum()

ID                     0
age                    0
balance                0
day                    0
duration               0
campaign               0
pdays                  0
previous               0
target                 0
job_admin.             0
job_blue-collar        0
job_entrepreneur       0
job_housemaid          0
job_management         0
job_retired            0
job_self-employed      0
job_services           0
job_student            0
job_technician         0
job_unemployed         0
job_unknown            0
marital_divorced       0
marital_married        0
marital_single         0
education_primary      0
education_secondary    0
education_tertiary     0
education_unknown      0
default_no             0
default_yes            0
housing_no             0
housing_yes            0
loan_no                0
loan_yes               0
contact_cellular       0
contact_telephone      0
contact_unknown        0
month_apr              0
month_aug              0
month_dec              0
month_feb              0
month_jan              0
month_jul              0
month_jun              0
month_mar              0
month_may              0
month_nov              0
month_oct              0
month_sep              0
poutcome_failure       0
poutcome_other         0
poutcome_success       0
poutcome_unknown       0
dtype: int64

In [0]:
df.describe().T

                       count          mean  ...      75%      max
ID                   29387.0  22656.627965  ...  33913.5  45209.0
age                  29387.0     40.947630  ...     48.0     95.0
balance              29387.0   1350.431653  ...   1413.5  98417.0
day                  29387.0     15.790826  ...     21.0     31.0
duration             29387.0    257.207439  ...    317.0   3785.0
campaign             29387.0      2.757512  ...      3.0     63.0
pdays                29387.0     40.225644  ...     -1.0    854.0
previous             29387.0      0.576547  ...      0.0    275.0
target               29387.0      0.116991  ...      0.0      1.0
job_admin.           29387.0      0.115017  ...      0.0      1.0
job_blue-collar      29387.0      0.215640  ...      0.0      1.0
job_entrepreneur     29387.0      0.033995  ...      0.0      1.0
job_housemaid        29387.0      0.026781  ...      0.0      1.0
job_management       29387.0      0.208528  ...      0.0      1.0
job_retired          29387.0      0.050124  ...      0.0      1.0
job_self-employed    29387.0      0.034029  ...      0.0      1.0
job_services         29387.0      0.091299  ...      0.0      1.0
job_student          29387.0      0.020315  ...      0.0      1.0
job_technician       29387.0      0.169259  ...      0.0      1.0
job_unemployed       29387.0      0.029060  ...      0.0      1.0
job_unknown          29387.0      0.005955  ...      0.0      1.0
marital_divorced     29387.0      0.115493  ...      0.0      1.0
marital_married      29387.0      0.601933  ...      1.0      1.0
marital_single       29387.0      0.282574  ...      1.0      1.0
education_primary    29387.0      0.152346  ...      0.0      1.0
education_secondary  29387.0      0.514139  ...      1.0      1.0
education_tertiary   29387.0      0.293497  ...      1.0      1.0
education_unknown    29387.0      0.040018  ...      0.0      1.0
default_no           29387.0      0.982713  ...      1.0      1.0
default_yes          29387.0      0.017287  ...      0.0      1.0
housing_no           29387.0      0.446456  ...      1.0      1.0
housing_yes          29387.0      0.553544  ...      1.0      1.0
loan_no              29387.0      0.836765  ...      1.0      1.0
loan_yes             29387.0      0.163235  ...      0.0      1.0
contact_cellular     29387.0      0.650594  ...      1.0      1.0
contact_telephone    29387.0      0.064348  ...      0.0      1.0
contact_unknown      29387.0      0.285058  ...      1.0      1.0
month_apr            29387.0      0.066798  ...      0.0      1.0
month_aug            29387.0      0.138292  ...      0.0      1.0
month_dec            29387.0      0.004458  ...      0.0      1.0
month_feb            29387.0      0.058972  ...      0.0      1.0
month_jan            29387.0      0.030626  ...      0.0      1.0
month_jul            29387.0      0.153333  ...      0.0      1.0
month_jun            29387.0      0.117739  ...      0.0      1.0
month_mar            29387.0      0.010345  ...      0.0      1.0
month_may            29387.0      0.302855  ...      1.0      1.0
month_nov            29387.0      0.087998  ...      0.0      1.0
month_oct            29387.0      0.016164  ...      0.0      1.0
month_sep            29387.0      0.012420  ...      0.0      1.0
poutcome_failure     29387.0      0.107428  ...      0.0      1.0
poutcome_other       29387.0      0.041039  ...      0.0      1.0
poutcome_success     29387.0      0.032906  ...      0.0      1.0
poutcome_unknown     29387.0      0.818627  ...      1.0      1.0

[53 rows x 8 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29387 entries, 0 to 29386
Data columns (total 53 columns):
ID                     29387 non-null int64
age                    29387 non-null int64
balance                29387 non-null int64
day                    29387 non-null int64
duration               29387 non-null int64
campaign               29387 non-null int64
pdays                  29387 non-null int64
previous               29387 non-null int64
target                 29387 non-null int64
job_admin.             29387 non-null uint8
job_blue-collar        29387 non-null uint8
job_entrepreneur       29387 non-null uint8
job_housemaid          29387 non-null uint8
job_management         29387 non-null uint8
job_retired            29387 non-null uint8
job_self-employed      29387 non-null uint8
job_services           29387 non-null uint8
job_student            29387 non-null uint8
job_technician         29387 non-null uint8
job_unemployed         29387 non-null uint8
job_unknown            29387 non-null uint8
marital_divorced       29387 non-null uint8
marital_married        29387 non-null uint8
marital_single         29387 non-null uint8
education_primary      29387 non-null uint8
education_secondary    29387 non-null uint8
education_tertiary     29387 non-null uint8
education_unknown      29387 non-null uint8
default_no             29387 non-null uint8
default_yes            29387 non-null uint8
housing_no             29387 non-null uint8
housing_yes            29387 non-null uint8
loan_no                29387 non-null uint8
loan_yes               29387 non-null uint8
contact_cellular       29387 non-null uint8
contact_telephone      29387 non-null uint8
contact_unknown        29387 non-null uint8
month_apr              29387 non-null uint8
month_aug              29387 non-null uint8
month_dec              29387 non-null uint8
month_feb              29387 non-null uint8
month_jan              29387 non-null uint8
month_jul              29387 non-null uint8
month_jun              29387 non-null uint8
month_mar              29387 non-null uint8
month_may              29387 non-null uint8
month_nov              29387 non-null uint8
month_oct              29387 non-null uint8
month_sep              29387 non-null uint8
poutcome_failure       29387 non-null uint8
poutcome_other         29387 non-null uint8
poutcome_success       29387 non-null uint8
poutcome_unknown       29387 non-null uint8
dtypes: int64(9), uint8(44)
memory usage: 3.3 MB

In [0]:
al = df.corr()
al['target'].sort_values()

poutcome_unknown      -0.169650
contact_unknown       -0.149398
housing_yes           -0.141005
month_may             -0.099358
campaign              -0.074671
job_blue-collar       -0.071661
loan_yes              -0.068811
marital_married       -0.060657
education_primary     -0.037643
education_secondary   -0.036776
month_jul             -0.032663
day                   -0.028306
job_services          -0.027158
job_entrepreneur      -0.021543
default_yes           -0.019033
job_housemaid         -0.016442
month_nov             -0.013655
month_jun             -0.013070
month_aug             -0.011179
job_technician        -0.010986
month_jan             -0.006938
job_admin.             0.001849
job_unknown            0.002101
job_self-employed      0.004093
marital_divorced       0.007266
education_unknown      0.010490
contact_telephone      0.014140
poutcome_failure       0.017663
default_no             0.019033
job_unemployed         0.022117
poutcome_other         0.029305
age                    0.033254
month_feb              0.033373
job_management         0.035203
balance                0.059478
marital_single         0.060787
month_apr              0.064603
education_tertiary     0.065556
loan_no                0.068811
job_student            0.070662
month_dec              0.075767
job_retired            0.084753
previous               0.086931
pdays                  0.107140
month_sep              0.107351
month_oct              0.129654
month_mar              0.131251
contact_cellular       0.134180
housing_no             0.141005
ID                     0.293682
poutcome_success       0.303199
duration               0.399367
target                 1.000000
Name: target, dtype: float64

In [0]:
from sklearn.model_selection import train_test_split, StratifiedKFold, RandomizedSearchCV

In [0]:
X = df.drop(['target'], axis=1)
y = df['target']
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2)

In [0]:
import xgboost as xgb
from sklearn import metrics

In [0]:
xgc = xgb.XGBClassifier()

In [0]:
xgc.set_params( **{'colsample_bytree': 0.7,
 'eta': 0.03,
 'gamma': 0.7,
 'max_depth': 2,
 'min_child_weight': 1,
 'n_estimators': 500,
 'subsample': 0.95})

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.7, eta=0.03, gamma=0.7,
              learning_rate=0.1, max_delta_step=0, max_depth=2,
              min_child_weight=1, missing=None, n_estimators=500, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=0.95, verbosity=1)

In [0]:
xgc.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.7, eta=0.03, gamma=0.7,
              learning_rate=0.1, max_delta_step=0, max_depth=2,
              min_child_weight=1, missing=None, n_estimators=500, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=0.95, verbosity=1)

In [0]:
pd.DataFrame( xgc.feature_importances_, index=list(X.columns))

                            0
ID                   0.081825
age                  0.008097
balance              0.006916
day                  0.012259
duration             0.127075
campaign             0.007910
pdays                0.007444
previous             0.005779
job_admin.           0.003808
job_blue-collar      0.007293
job_entrepreneur     0.004854
job_housemaid        0.006856
job_management       0.012468
job_retired          0.000000
job_self-employed    0.000000
job_services         0.001798
job_student          0.000000
job_technician       0.002381
job_unemployed       0.000000
job_unknown          0.002307
marital_divorced     0.003762
marital_married      0.023605
marital_single       0.005951
education_primary    0.011309
education_secondary  0.005680
education_tertiary   0.019697
education_unknown    0.002184
default_no           0.004387
default_yes          0.006003
housing_no           0.065816
housing_yes          0.033840
loan_no              0.009005
loan_yes             0.008434
contact_cellular     0.042463
contact_telephone    0.007283
contact_unknown      0.031723
month_apr            0.020426
month_aug            0.000000
month_dec            0.004470
month_feb            0.011111
month_jan            0.009296
month_jul            0.004608
month_jun            0.000000
month_mar            0.044339
month_may            0.051372
month_nov            0.016209
month_oct            0.041065
month_sep            0.008156
poutcome_failure     0.022067
poutcome_other       0.002349
poutcome_success     0.184323
poutcome_unknown     0.000000

In [0]:
pd.Series(xgc.get_booster().get_score(importance_type="gain")).sort_values(ascending=False)

poutcome_success       114.183029
duration                78.719734
ID                      50.688137
housing_no              40.770926
month_may               31.823407
month_mar               27.466840
contact_cellular        26.304418
month_oct               25.438642
housing_yes             20.962829
contact_unknown         19.651604
marital_married         14.622822
poutcome_failure        13.669753
month_apr               12.653408
education_tertiary      12.201447
month_nov               10.041294
job_management           7.723512
day                      7.594167
education_primary        7.005749
month_feb                6.882811
month_jan                5.758606
loan_no                  5.578137
loan_yes                 5.224630
month_sep                5.052393
age                      5.015879
campaign                 4.900220
pdays                    4.611403
job_blue-collar          4.517565
contact_telephone        4.511494
balance                  4.284087
job_housemaid            4.247277
default_yes              3.718523
marital_single           3.686352
previous                 3.580196
education_secondary      3.518297
job_entrepreneur         3.007013
month_jul                2.854503
month_dec                2.768930
default_no               2.717475
job_admin.               2.358645
marital_divorced         2.330476
job_technician           1.475089
poutcome_other           1.454832
job_unknown              1.429052
education_unknown        1.353117
job_services             1.113800
dtype: float64

In [0]:
test = df_test.copy()

In [0]:
test= pd.get_dummies(test)
test.head()

      ID  age  balance  ...  poutcome_other  poutcome_success  poutcome_unknown
0   5948   40     1327  ...               0                 0                 1
1  44591   22      739  ...               0                 0                 1
2  22436   35       54  ...               0                 0                 1
3  18219   33      321  ...               0                 0                 1
4  11448   46      641  ...               0                 0                 1

[5 rows x 52 columns]

In [0]:
file = pd.DataFrame(df_test['ID'])

In [0]:
prediction = xgc.predict_proba(test)
file['target'] = prediction[:,1]

In [0]:
file.to_csv('solution.csv', index=False)